{{#with person.comments}}
<h1>{{comment}}</h1>
<h1>{{date}}</h1>
{{/with}}


{{!-- {{#if person.admin}}
<h1>The person is admin</h1>
{{else}}
<h1>Normal User</h1>
{{/if}} --}}


{{!-- {{#each values}}
<h1>{{this}} hello {{@index}}</h1>
{{/each}} --}}